@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,100&family=Red+Hat+Mono:wght@300&display=swap');
* {
    font-family: 'Bitter', serif;
    font-family: 'Red Hat Mono', monospace;
}

.main {
    margin-top: calc(50vh - 167px);
}

.mainContent {
    display: flex;
    align-items: center;
    height: 334px;
    justify-content: center;
    flex-direction: column;
}

.mainContent img {
    width: 300px;
}

label {
    width: 68vw;
    font-size: 20px;
    color: #3b87ca;
    padding: 32px 10px;
    text-align: center;
}

.sidemenu {
    position: fixed;
    bottom: 5vh;
    left: 5vh;
}

.sidemenu[data-title]::before {
    content: attr(data-title);
    font-size: 21px;
    margin-left: -20px;
    display: block;
    margin-bottom: 13px;
}

.sidemenu__link {
    color: blue;
}