<!-- <base href="https://lpro007.github.io/portfolio/">
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" /> -->
<div>
    <div class="main">
        <div class="mainContent">
            <label>My name is Daniel Brambila,</label>
            <label>I'm a Software Engineer from Mexico</label>
            <label>and Lizeth Gomez is my girlfriend ♥</label>
            <img src="../assets/img/tech.gif" />
        </div>

        <ul class="sidemenu" data-title="Design Inspiration">
            <li>
                <a class="sidemenu__link" href="https://medium.com/geekculture/how-to-jazz-up-your-website-like-apple-with-javascript-eed2bf227fec">
                Apple Site
            </a>
            </li>
        </ul>
    </div>
</div>